.main {
  padding-top:17vh;
  width: 80%;
  height: 100vh;
}

.main-title {
  height: 30vh;
  display:flex;
}


.main-title .header {
  font-family: "Abril Fatface", cursive;
  font-size:5.9vw;
  align-self: center;
}

.description{
  width : 40%;
  padding:50px;
  color:grey;
  font-size: 1.5vw;
  font-family: "Abril Fatface", cursive; 
  position: relative;
}

.red-line {
  width:50px;
  height: 3px;
  background-color: red;
  position: absolute;
  margin-top: 15px;
}

.cards {
  margin-top:20px;
  display: flex;
  flex-flow : row wrap;
}
.mobile-main{
  display: none;
}
@media only screen and (max-width: 600px) {
 .main {
   display: none;
 }
 .mobile-main {
  display: flex;
  flex-direction: column;
  padding:0 20px;
  
 }
 .mobile-cards {
   display: flex;
   flex-flow: row wrap;
 }
 .mobile-heading {
  font-family: "Abril Fatface", cursive;
  font-size: 30px;
 }
 .mobile-description {
  padding:20px 10px;
  color:grey;
  font-size: 20px;
  font-family: "Abril Fatface", cursive; 

 }
}